{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-rust"],
	"overrides": [
		{ "files": "*.svelte", "options": { "parser": "svelte" } },
		{ "files": "*.rs", "options": { "parser": "rust" } }
	],
	"tabWidth": 1
}
